.pagination {
    -fx-background-color: #212129;
}

.pagination .pagination-control .number-button {
    -fx-background-color: #40445a;
    -fx-background-radius: 10;
    -fx-text-fill: #e8fff5;
}

.pagination .pagination-control .number-button:selected {
    -fx-background-color: transparent;
}

.pagination .pagination-control .left-arrow-button {
    -fx-background-color: #40445a;
    -fx-background-radius: 10;
}

.pagination .pagination-control .right-arrow-button {
    -fx-background-color: #40445a;
    -fx-background-radius: 10;
}

.pagination .pagination-control .left-arrow-button .left-arrow {
    -fx-background-color: #e8fff5;
}

.pagination .pagination-control .right-arrow-button .right-arrow {
    -fx-background-color: #e8fff5;
}

.pagination .pagination-control .page-information {
    -fx-text-fill: #e8fff5;
}
